<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured</h1>
    <p>Sorry for this problem, We are working to solve this problem</p>
<%- include('includes/end.ejs') %>